NEXT_PUBLIC_SITE_URL=https://hirekader.com
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-08-18
SANITY_API_READ_TOKEN=
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
AUDIT_FORM_WEBHOOK_URL=
NEWSLETTER_WEBHOOK_URL=
